name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Force Clean & Sync
        run: |
          npm install
          npx cap sync android

      - name: Build APK (Fast Mode)
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon -x test -x lint
