name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Sync Project
        run: |
          npm install
          npx cap sync android

      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true

      - name: Final Build
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon -Dorg.gradle.welcome=never
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Element-Avcisi-APK
          path: |
            android/app/build/outputs/apk/debug/*.apk
            android/app/build/outputs/apk/release/*.apk
