name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Reset & Sync
        run: |
          npm install
          npx cap sync android

      - name: Radical Build
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon --stacktrace --scan -Dorg.gradle.debug=false
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Element-Avcisi-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
