name: Build APK (Java 21 Boost)
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 21 # Burayı Java 21 yaptık!
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Reconstruct Project
        run: |
          npm install
          rm -rf android
          npx cap add android
          npx cap sync android

      - name: Final Build
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Element-Avcisi-APK
          path: android/app/build/outputs/apk/debug/*.apk
